*{
    background-color: black;
}
h1{
    text-align: center;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 35px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.button{
    margin: 6px 3px;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    height: 65px;
    width: 65px;
    border-radius: 33px;
    border-color: transparent;
    background-color: rgb(56, 55, 55);
    color: white;
    cursor: pointer;
}
.num:focus{
    background-color: rgb(32, 31, 31);
}
.double{
    height: 65px;
    width: 130px;
    border-radius: 66px;
}
.input{
    font-family: 'Inconsolata', monospace;
   
    width: 280px;
    margin: 30px;
    text-align: right;
    font-size: 60px;
    background: black;
    border-color: transparent;
    color: white;
}
.upar{
    background-color: gray;
    color: black;
}
.upar:focus{
    background-color: rgb(101, 101, 101);
}

.operator{
    background-color: orange;
    color: white;
}
.operator:focus{
    background-color: rgb(223, 145, 0);
}
input{
    text-align: right;
    margin-bottom: 0px;
    outline: none;
}
